<html>
    <body>
        <form action='/upload' method="POST" enctype="multipart/form-data">
            Title: <input type="text" name="title" >
            Description: <input type="text" name="describe" >
            <input type="file" name="photo" >
            <input type="submit">
        </form>
    </body>
</html>